# Ignore the content of pack directory but not the directory itself
pack/**
!pack/.gitkeep

# Ignore the content of mnh_expand directory but not the directory itself
mnh_expand/**
!mnh_expand/.gitkeep

# Ignore the content of testprogs_data but not the directory itself
testprogs_data/ice_adjust/**
testprogs_data/rain_ice/**
testprogs_data/turb/**
testprogs_data/shallow/**
!testprogs_data/ice_adjust/.gitkeep
!testprogs_data/rain_ice/.gitkeep
!testprogs_data/turb/.gitkeep
!testprogs_data/shallow/.gitkeep

# Ignore vim swapp files
.*.swp
